.com {
  padding: 20px;
  .card {
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    .infos {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
