html, body {
  background-color: #e8e8e8!important;
}

.layout {
  background: rgba(0, 0, 0, 0)!important;
  .header {
    color: white;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      display: inline-flex;
      align-items: center;
    }
    .first_name {
      font-size: 40px;
      font-weight: bold;
    }
    .last_name {
      font-size: 20px;
      font-weight: bold;
    }
    .bigbrother {
      width: 80px;
      margin-left: 5px;
      border-radius: 10px;
    }
    .searcher {
      width: 300px;
    }
  }
  .body {
    min-height: 320px;
    background-color: white;
    .sider {
      .menu {
        height: 100%;
      }
    }
    .content {

    }
  }
  .footer {
    text-align: center;
    color: #999999;
    background-color: rgba(0, 0, 0, 0);
  }
}


:global(.ant-table-wrapper) {
  :global(.ant-table-expanded-row) {
    td:last-of-type {
      background-color: white;
    }
  }
}
